@charset "ISO-8859-1";

body {
  	background-image: url('https://cdn.aarp.net/content/aarpe/es/home/dinero/presupuesto-y-ahorro/info-2016/convierte-libros-viejos-en-dinero/_jcr_content/root/container_main/container_body_main/container_body1/container_body_cf/container_image/articlecontentfragment/cfimage.coreimg.50.932.jpeg/content/dam/aarp/money/budgeting_savings/2016/04/1140-yeager-sell-your-used-books-esp.jpg');
	background-size: cover;
  	background-repeat: no-repeat;
}